body {
    font-family: 'Roboto';
}

* {
    box-sizing: border-box;
}

main {
    padding-top: 150px;
}

@media (max-width: $resp768) {
    main {
        padding-top: 50px;
        padding-top: 30px;
    }
}