.op_form {
    padding: 105px 0 95px 0;
    background: url(../../img/form_bg.jpg);
    background-position: center;
    background-size: cover;
    &__inner {
        @extend .container;
    }
    &__inputs {
        margin-bottom: 40px;
        display: flex;
    }
    &__url {
        max-width: 580px;
        p {
            margin: 0;
            color: #fff;
            font-size: 14px;
            a {
                text-decoration: none;
                color: #99c302;
            }
        }
    }
}

input {
    &[type="text"] {
        background: #DADDE5;
        border: none;
        padding: 25px;
        margin-right: 30px;
        font-weight: 500;
        color: #707070;
        &::placeholder {
            font-weight: 500;
            color: #707070;
        }
    }
    &[type="submit"] {
        padding: 25px;
        border: none;
        background-color: #99c302;
        color: #ffffff;
        cursor: pointer;
        transition: .25s all ease;
        font-weight: 500;
        &:hover {
            background-color: #a7cf4f;
        }
    }
}

@media (max-width: $resp768) {
    .op_form {
        padding: 40px 0 40px 0;
        &__inputs {
            display: block;
            margin-bottom: 20px;
            input {
                display: block;
                width: 100%;
                &[type="text"] {
                    margin: 0 0 15px 0;
                }
            }
        }
    }
}